<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Demo</display-name>
  <welcome-file-list>
    <welcome-file>Welcome.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>admincheck</servlet-name>
    <servlet-class>com.mukesh.Acheck</servlet-class>
    <init-param>
      <param-name>adminname</param-name>
      <param-value>mukesh</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>Mike2k3</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>admincheck</servlet-name>
    <url-pattern>/Acheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>options</servlet-name>
    <jsp-file>/options.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>options</servlet-name>
    <url-pattern>/options</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminOptionsCheck</servlet-name>
    <servlet-class>com.mukesh.OptionsCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminOptionsCheck</servlet-name>
    <url-pattern>/adminoptionscheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeD</display-name>
    <servlet-name>AddEmployeeD</servlet-name>
    <servlet-class>com.mukesh.AddEmployeeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeD</servlet-name>
    <url-pattern>/AddEmployeeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteEmployeeData</display-name>
    <servlet-name>DeleteEmployeeData</servlet-name>
    <servlet-class>com.mukesh.DeleteEmployeeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteEmployeeData</servlet-name>
    <url-pattern>/DeleteEmployeeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateEmployeeData</display-name>
    <servlet-name>UpdateEmployeeData</servlet-name>
    <servlet-class>com.mukesh.UpdateEmployeeData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateEmployeeData</servlet-name>
    <url-pattern>/UpdateEmployeeData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetData</display-name>
    <servlet-name>SetData</servlet-name>
    <servlet-class>com.mukesh.SetData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetData</servlet-name>
    <url-pattern>/SetData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayAllEmp</display-name>
    <servlet-name>DisplayAllEmp</servlet-name>
    <servlet-class>com.mukesh.DisplayAllEmp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayAllEmp</servlet-name>
    <url-pattern>/DisplayAllEmp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChooseCheck</display-name>
    <servlet-name>ChooseCheck</servlet-name>
    <servlet-class>com.mukesh.ChooseCheck</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChooseCheck</servlet-name>
    <url-pattern>/ChooseCheck</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeView</display-name>
    <servlet-name>EmployeeView</servlet-name>
    <servlet-class>com.mukesh.EmployeeView</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeView</servlet-name>
    <url-pattern>/EmployeeView</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EupdateData</display-name>
    <servlet-name>EupdateData</servlet-name>
    <servlet-class>com.mukesh.EupdateData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EupdateData</servlet-name>
    <url-pattern>/EupdateData</url-pattern>
  </servlet-mapping>
</web-app>